<div class="row">
  <div class="col-md-8">
    <h3>Posts List {{count | async}}</h3>

    <div>
      <a href="#" class="btn btn-primary" [routerLink]="['/post/add']">Add Post</a>
    </div>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Descripition</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let post of posts | async">
          <td>{{ post.id }}</td>
          <td>{{ post.title }}</td>
          <td>{{ post.description }}</td>
          <td><a href="#" class="btn btn-primary" [routerLink]="['edit/',post.id]"  >Update</a>&nbsp;
            <button class="btn btn-danger"  (click)="post.id ? onPostDelete(post.id) : null">Delete</button>&nbsp;
            <a href="#" class="btn btn-info" [routerLink]="['details',post.id]"  >Details</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
    <router-outlet></router-outlet>
  </div>
</div>
